<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css')}}"/>
    <title>DR</title>
    
</head>
<body>
    <nav>         
        <div class="topnav">
            <span>Diabetic Retinopathy Classification</span>
            <div>
                <a href="/registration.html">Register</a>
                <a href="/login.html">Login</a>
                <a href="/index">Home</a>
            </div>
            
          </div>
    </nav>
    <div class="home-page">
        <div class="form">    
            <img src="{{ url_for('static',filename='images/Diabetic-Retina.jpg')}}"
    alt="Italian Trulli">                
            <h3>PROBLEM</h3>
            <p>Diabetic Retinopathy is a common complication of diabetes mellitus, which causes lesions on the retina that affect vision. If it is not detected early, it can lead to blindness. This labor-intensive task could greatly benefit from automatic detection using deep learning techniques. This deep learning system could increase the cost-effectiveness of screening and diagnosis, while attaining higher than recommended performance. This project focuses on detecting such underlying lesions that could potentially result in blindness</p>
            <h3>SOLUTION</h3>
            <p>Diabetes is a globally prevalent disease that can cause visible microvascular complications such as diabetic retinopathy and macular edema in the human eye retina, the images of which are today used for manual disease screening and diagnosis. This labor-intensive task could greatly benefit from automatic detection using deep learning techniques. This deep learning system could increase the cost-effectiveness of screening and diagnosis, while attaining higher than recommended performance. It is more adaptable to new images and datasets because it was built with a versatile dataset. Thus, this system can be used to detect diabetic retinopathy early in real-time for new variations</p>
        </div>
    </div>
    

    
    
</body>
</html>

